var filters = {
  toInt: function (value) {
    return parseInt(value)
  },
  toNullObj: function (obj){
    return JSON.stringify(obj)
  },
  cheSome:function(id,arr){
    var bool = false
    bool = arr.some(function(item){
      return id === item
    })
    return bool
  },
  geTel: function(tel){
    return tel.substring(0, 3) + "****" + tel.substring(tel.length - 4);
  }
}
module.exports = {
  toInt: filters.toInt,
  toNullObj: filters.toNullObj,
  cheSome: filters.cheSome,
  geTel: filters.geTel
}